body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5vw;
  margin-top: 5vh;
}

p {
  font-size: 4vw;
  margin-bottom: 2vh;
}

#game-area {
  position: relative;
  width: 90vw;
  height: 60vh;
  margin: auto;
  background-color: #c2f0c2;
  border: 3px solid #333;
  overflow: hidden;
  border-radius: 15px;
}

#cat {
  position: absolute;
  width: 15vw;
  max-width: 80px;
  height: auto;
  cursor: poin
